body
{
    margin: 0;
    background-image: linear-gradient(to bottom, rgb(85, 53, 85), black);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container
{
    position: relative;
    top: 30%;
    display: flex;
}
.image-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./LOGO SET/trans_bg.png");
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}
.form
{
    display: grid;
}